.navbar.navbar-transparent span{
    background-color: transparent !important;
    box-shadow: none;
    color: black;
    padding-top: 20px !important; 
}

.listaRoomWithImg img{
    width: 100%;
}


.listaRoomWithImg .roomInfo .roomName{
    color: lightslategrey;
    justify-content: center;
    font-size: 50px;
}

.listaRoomWithImg .roomInfo .roomDescription{
    text-align: justify;
    display: flex;
}

.listaRoomWithImg .roomPrice{
    width: 100%;
    align-items: center;
    font-size: 50px;
    justify-content: center;
}

.listaRoomWithImg .roomPrice span{
    align-items: right;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold lighter;
    justify-content: right;
}

.listaRoomWithImg .bookButton{
    width: 100%;
    align-items: center;
    justify-content: center;
}