.navbar.navbar-transparent span{
    background-color: transparent !important;
    box-shadow: none;
    color: black;
    padding-top: 20px !important; 
}

.listaRoomWithImg img{
    width: 100%;
}

.listaRoomWithImg{
    background-color: aliceblue;
}


.listaRoomWithImg .roomInfo .roomName{
    color: lightslategrey;
    justify-content: center;
    font-size: 50px;
}

.listaRoomWithImg .roomInfo .roomDescription{
    text-align: justify;
    display: flex;
    padding: 5%;
}

.listaRoomWithImg .roomInfo .roomNameFinal{
    color: lightslategrey;
    font-size: 70px;
    padding-left: 10%;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.listaRoomWithImg .roomInfo .roomDescriptionFinal{
    text-align: justify;
    display: flex;
    padding: 8%;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.listaRoomWithImg .roomPrice{
    width: 100%;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    font-weight: bolder;
}

.listaRoomWithImg .roomPrice .night{
    /* align-items: ; */
    position: absolute;
    bottom: 21%;
    right: 19%;
    font-size: 20px;
    font-weight: bold lighter;
}

.listaRoomWithImg .roomPrice .price{
    position: absolute; 
    font-size: 50px;
    top: 60%;
    right: 35%;
}

.listaRoomWithImg .bookButton{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.listaRoomWithImg .roomPrice .desde{
    position: absolute;
    margin-top: 20%;
    font-size: 10px;
    top: 38%;
    left: 25%;
    font-weight: bold lighter;
    justify-content: right;
}

.listaRoomWithImg .roomPrice .mainnight{
    align-items: right;
    margin-top: 20px;
    font-size: 10px;
    font-weight: bold lighter;
    justify-content: right;
}
.thankyou .idReserva h1 span{
    font-style: italic;
    font-weight: bolder;
}

.thankyou .idReserva{
    justify-content: center;
}

.thankyou .fechas{
    font-style: oblique;
}

.thankyou .fechas .horario{
    font-weight: 300;
    font-size: 8px;
    position: absolute;
    top: 0%;
    left: 17%
}